.markdown {
  letter-spacing: 0.05em;
  line-height: 32px;
  h1 {
    margin: 24px 0 18px;
    display: inline-block;
  }
  h2 {
    margin: 18px 0 12px;
    display: inline-block;
    border-bottom: 2px solid;
  }
  p {
    margin: 8px 0;
    line-height: 1.5;
    word-wrap: break-word;
  }
  code {
    padding: 0.2em 0.4em;
    background: var(--codeblock);
  }
  pre {
    code {
      padding: 0;
      background: inherit;
      line-height: 1.2;
    }
  }
  li {
    margin-left: 24px;
  }
  a {
    text-decoration: underline;
  }
  img {
    max-width: 100%;
    margin: 8px 0;
  }
  hr {
    margin: 16px 0;
    border: 0;
  }
}
