:root {
  --main-width: 990px;
  &[data-theme='light'] {
    --background: #e9e5e7;
    --color: #616062;
    --card: #dcdade;
    --card-hover: #dcd5d9;
    --codeblock: #f5f5f5;
  }
  &[data-theme='dark'] {
    --background: #171f29;
    --color: white;
    --card: #272f39;
    --card-hover: #454c57;
    --codeblock: #6e6e6e;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: var(--font-oswald), var(--font-noto-sans-jp);
  height: 100%;
  max-width: 100vw;
  overflow-x: hidden;
  color: var(--color);
}

body {
  margin: 0;
  background: var(--background);
}

a {
  color: inherit;
  text-decoration: none;
  outline: none;
  appearance: none;
}

h1, h2, h3, h4, h5, h6 {
  all: unset;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
  color: inherit;
  font: inherit;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
