.top {
  flex: 1;
  display: flex;
  justify-content: center;
  gap: 30px;
  @media (width < 800px) {
    flex-direction: column-reverse;
  }

  > .main {
    max-width: var(--main-width);
    width: 100%;
    > .title {
      font-size: 14px;
      font-weight: bold;
      margin: 8px 0;
    }

    > .entries {
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
      justify-content: space-between;
    }
  }
}
